[submodule "chef/cookbooks/windows"]
	path = chef/cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "chef/cookbooks/java"]
	path = chef/cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "chef/cookbooks/ark"]
	path = chef/cookbooks/ark
	url = https://github.com/opscode-cookbooks/ark.git
[submodule "chef/cookbooks/maven"]
	path = chef/cookbooks/maven
	url = https://github.com/opscode-cookbooks/maven.git
[submodule "chef/cookbooks/yum"]
	path = chef/cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "chef/cookbooks/yum-mysql-community"]
	path = chef/cookbooks/yum-mysql-community
	url = https://github.com/opscode-cookbooks/yum-mysql-community.git
[submodule "chef/cookbooks/openssl"]
	path = chef/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "chef/cookbooks/chef_handler"]
	path = chef/cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
[submodule "chef/cookbooks/chef-sugar"]
	path = chef/cookbooks/chef-sugar
	url = https://github.com/sethvargo/chef-sugar.git
[submodule "chef/cookbooks/yum-epel"]
	path = chef/cookbooks/yum-epel
	url = https://github.com/chef-cookbooks/yum-epel.git
